@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

h1, h3, h5, h6 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

p {
  font-size: 12px;
}

@media screen and (min-width: 320px) {
  p {
    font-size: calc(0.53571vw + 10.28571px);
  }
}

@media screen and (min-width: 2560px) {
  p {
    font-size: 24px;
  }
}

p {
  line-height: 22px;
}

@media screen and (min-width: 320px) {
  p {
    line-height: calc(0.26786vw + 21.14286px);
  }
}

@media screen and (min-width: 2560px) {
  p {
    line-height: 28px;
  }
}

h1 {
  font-size: 100px;
}

@media screen and (min-width: 320px) {
  h1 {
    font-size: calc(11.16071vw + 64.28571px);
  }
}

@media screen and (min-width: 2560px) {
  h1 {
    font-size: 350px;
  }
}

h1 {
  line-height: 100px;
}

@media screen and (min-width: 320px) {
  h1 {
    line-height: calc(6.69643vw + 78.57143px);
  }
}

@media screen and (min-width: 2560px) {
  h1 {
    line-height: 250px;
  }
}

h1 {
  letter-spacing: -2.5px;
}

@media screen and (min-width: 320px) {
  h1 {
    letter-spacing: calc(-0.22321vw - 1.78571px);
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    letter-spacing: -5px;
  }
}

h2 {
  font-weight: 300;
}

h2 {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  h2 {
    font-size: calc(0.98214vw + 11.85714px);
  }
}

@media screen and (min-width: 2560px) {
  h2 {
    font-size: 37px;
  }
}

h2 {
  letter-spacing: 3px;
}

@media screen and (min-width: 320px) {
  h2 {
    letter-spacing: calc(0.16071vw + 2.48571px);
  }
}

@media screen and (min-width: 1440px) {
  h2 {
    letter-spacing: 4.8px;
  }
}

h3 {
  text-transform: uppercase;
  line-height: 28px;
}

h3 {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  h3 {
    font-size: calc(0.40179vw + 13.71429px);
  }
}

@media screen and (min-width: 2560px) {
  h3 {
    font-size: 24px;
  }
}

h3 {
  letter-spacing: 3px;
}

@media screen and (min-width: 320px) {
  h3 {
    letter-spacing: calc(0.16071vw + 2.48571px);
  }
}

@media screen and (min-width: 1440px) {
  h3 {
    letter-spacing: 4.8px;
  }
}

h4 {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 28px;
}

h4 {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  h4 {
    font-size: calc(0.22321vw + 14.28571px);
  }
}

@media screen and (min-width: 2560px) {
  h4 {
    font-size: 20px;
  }
}

h4 {
  letter-spacing: 3px;
}

@media screen and (min-width: 320px) {
  h4 {
    letter-spacing: calc(0.16071vw + 2.48571px);
  }
}

@media screen and (min-width: 1440px) {
  h4 {
    letter-spacing: 4.8px;
  }
}

h5 {
  font-size: 12px;
}

@media screen and (min-width: 320px) {
  h5 {
    font-size: calc(0.26786vw + 11.14286px);
  }
}

@media screen and (min-width: 2560px) {
  h5 {
    font-size: 18px;
  }
}

h5 {
  line-height: 22px;
}

@media screen and (min-width: 320px) {
  h5 {
    line-height: calc(0.53571vw + 20.28571px);
  }
}

@media screen and (min-width: 1440px) {
  h5 {
    line-height: 28px;
  }
}

.daytime-bg {
  background-image: url("../style/assets/desktop/bg-image-daytime.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nightTime-bg {
  background-image: url("../style/assets/desktop/bg-image-nighttime.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  width: 100%;
  height: 100vh;
  color: #ffffff;
  padding-top: 40px;
}

main {
  padding-left: 10px;
}

@media screen and (min-width: 320px) {
  main {
    padding-left: calc(6.48148vw - 10.74074px);
  }
}

@media screen and (min-width: 1400px) {
  main {
    padding-left: 80px;
  }
}

main {
  padding-right: 10px;
}

@media screen and (min-width: 320px) {
  main {
    padding-right: calc(3.7037vw - 1.85185px);
  }
}

@media screen and (min-width: 1400px) {
  main {
    padding-right: 50px;
  }
}

main .programmingQuotes {
  width: auto;
  max-width: 572px;
}

main .programmingQuotes .quote-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
}

main .programmingQuotes .quote-container .quoteText {
  width: 80%;
}

main .programmingQuotes .quote-container svg:hover {
  cursor: pointer;
}

main .programmingQuotes .quote-author {
  font-weight: 700;
}

main .time-container .welcome-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .time-container .welcome-section .timeOfDayIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .time-container .welcome-section .welcomeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  margin-left: 10px;
}

main .time-container .welcome-section .welcomeText .tablet-only {
  display: none;
}

@media screen and (min-width: 450px) {
  main .time-container .welcome-section .welcomeText .tablet-only {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.expandable-container {
  width: 100%;
  height: 35vh;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background-color: #bbbbbb;
}

.expandable-container .location_dayOfYear {
  width: 50%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid black;
}

.expandable-container .location_dayOfYear .expandable_location {
  width: 300px;
}

.expandable-container .location_dayOfYear .dayOfTheYear {
  width: 300px;
}

.btn-styling {
  position: relative;
  width: 146px;
  height: 56px;
  border-radius: 50px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px 0 20px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #999999;
  background-color: white;
}

.btn-styling svg {
  position: absolute;
  right: 10px;
  margin-left: 10px;
  fill: #303030;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.btn-styling:hover {
  cursor: pointer;
}

.btn-styling:hover svg {
  fill: #30303088;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0px;
}
/*# sourceMappingURL=main.css.map */