@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

h1, h3, h5, h6 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

p {
  font-size: 12px;
}

@media screen and (min-width: 320px) {
  p {
    font-size: calc(0.53571vw + 10.28571px);
  }
}

@media screen and (min-width: 2560px) {
  p {
    font-size: 24px;
  }
}

p {
  line-height: 22px;
}

@media screen and (min-width: 320px) {
  p {
    line-height: calc(0.26786vw + 21.14286px);
  }
}

@media screen and (min-width: 2560px) {
  p {
    line-height: 28px;
  }
}

h1 {
  font-size: 100px;
}

@media screen and (min-width: 320px) {
  h1 {
    font-size: calc(8.92857vw + 71.42857px);
  }
}

@media screen and (min-width: 2560px) {
  h1 {
    font-size: 300px;
  }
}

h1 {
  line-height: 80px;
}

@media screen and (min-width: 320px) {
  h1 {
    line-height: calc(7.58929vw + 55.71429px);
  }
}

@media screen and (min-width: 2560px) {
  h1 {
    line-height: 250px;
  }
}

h1 {
  letter-spacing: -2.5px;
}

@media screen and (min-width: 320px) {
  h1 {
    letter-spacing: calc(-0.22321vw - 1.78571px);
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    letter-spacing: -5px;
  }
}

h2 {
  font-weight: 300;
}

h2 {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  h2 {
    font-size: calc(0.98214vw + 11.85714px);
  }
}

@media screen and (min-width: 2560px) {
  h2 {
    font-size: 37px;
  }
}

h2 {
  letter-spacing: 3px;
}

@media screen and (min-width: 320px) {
  h2 {
    letter-spacing: calc(0.16071vw + 2.48571px);
  }
}

@media screen and (min-width: 1440px) {
  h2 {
    letter-spacing: 4.8px;
  }
}

h3 {
  text-transform: uppercase;
  line-height: 28px;
}

h3 {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  h3 {
    font-size: calc(0.40179vw + 13.71429px);
  }
}

@media screen and (min-width: 2560px) {
  h3 {
    font-size: 24px;
  }
}

h3 {
  letter-spacing: 3px;
}

@media screen and (min-width: 320px) {
  h3 {
    letter-spacing: calc(0.16071vw + 2.48571px);
  }
}

@media screen and (min-width: 1440px) {
  h3 {
    letter-spacing: 4.8px;
  }
}

h4 {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 28px;
}

h4 {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  h4 {
    font-size: calc(0.22321vw + 14.28571px);
  }
}

@media screen and (min-width: 2560px) {
  h4 {
    font-size: 20px;
  }
}

h4 {
  letter-spacing: 3px;
}

@media screen and (min-width: 320px) {
  h4 {
    letter-spacing: calc(0.16071vw + 2.48571px);
  }
}

@media screen and (min-width: 1440px) {
  h4 {
    letter-spacing: 4.8px;
  }
}

h5 {
  font-size: 12px;
}

@media screen and (min-width: 320px) {
  h5 {
    font-size: calc(0.26786vw + 11.14286px);
  }
}

@media screen and (min-width: 2560px) {
  h5 {
    font-size: 18px;
  }
}

h5 {
  line-height: 22px;
}

@media screen and (min-width: 320px) {
  h5 {
    line-height: calc(0.53571vw + 20.28571px);
  }
}

@media screen and (min-width: 1440px) {
  h5 {
    line-height: 28px;
  }
}

.daytime-bg {
  background-image: url("../style/assets/desktop/bg-image-daytime.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nightTime-bg {
  background-image: url("../style/assets/desktop/bg-image-nighttime.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.expandable-cont-day {
  background-color: #bbbbbb;
  color: #000000;
}

.expandable-cont-day .timezone-location {
  border-right: 1px solid black;
}

.expandable-cont-night {
  background-color: #000000;
  color: #ffffff;
}

.expandable-cont-night .timezone-location {
  border-right: 1px solid #979797;
}

main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 150px;
}

main {
  padding-bottom: 150px;
}

@media screen and (min-width: 320px) {
  main {
    padding-bottom: calc(-9.25926vw + 179.62963px);
  }
}

@media screen and (min-width: 1400px) {
  main {
    padding-bottom: 50px;
  }
}

main {
  padding-left: 10px;
}

@media screen and (min-width: 320px) {
  main {
    padding-left: calc(6.48148vw - 10.74074px);
  }
}

@media screen and (min-width: 1400px) {
  main {
    padding-left: 80px;
  }
}

main {
  padding-right: 10px;
}

@media screen and (min-width: 320px) {
  main {
    padding-right: calc(3.7037vw - 1.85185px);
  }
}

@media screen and (min-width: 1400px) {
  main {
    padding-right: 50px;
  }
}

main .programmingQuotes {
  width: auto;
  max-width: 600px;
}

main .programmingQuotes .quote-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
  width: auto;
  min-width: 150px;
  min-height: 100px;
}

main .programmingQuotes .quote-container .quoteText {
  width: 90%;
}

main .programmingQuotes .quote-container svg:hover {
  cursor: pointer;
}

main .programmingQuotes .quote-author {
  font-weight: 700;
}

main .flex-container {
  width: 90%;
  height: 250px;
  margin-top: 50px;
}

main .flex-container .time-container {
  margin-bottom: 10px;
}

main .flex-container .time-container .welcome-section {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

main .flex-container .time-container .welcome-section .timeOfDayIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .flex-container .time-container .welcome-section .welcomeText {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .flex-container .time-container .time-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .flex-container .time-container .time-display .timezone {
  text-transform: uppercase;
}

main .flex-container .tablet-only {
  display: none;
}

@media screen and (min-width: 500px) {
  main .flex-container .tablet-only {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

main .flex-container .location-expandable {
  margin: 20px 0 0 10px;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

@media screen and (min-width: 600px) {
  main .flex-container .location-expandable {
    margin-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.expandable-container {
  width: 100%;
  height: 50vh;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

@media screen and (min-width: 700px) {
  .expandable-container {
    height: 35vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.expandable-container .timezone-location, .expandable-container .location-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 50%;
}

@media screen and (min-width: 700px) {
  .expandable-container .timezone-location, .expandable-container .location-info {
    height: 80%;
    width: 50%;
  }
}

.expandable-container .timezone-location .timezone-container, .expandable-container .timezone-location .dayOfYear-container, .expandable-container .timezone-location .dayOfWeek-container, .expandable-container .timezone-location .weekNumber-container, .expandable-container .location-info .timezone-container, .expandable-container .location-info .dayOfYear-container, .expandable-container .location-info .dayOfWeek-container, .expandable-container .location-info .weekNumber-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 700px) {
  .expandable-container .timezone-location .timezone-container, .expandable-container .timezone-location .dayOfYear-container, .expandable-container .timezone-location .dayOfWeek-container, .expandable-container .timezone-location .weekNumber-container, .expandable-container .location-info .timezone-container, .expandable-container .location-info .dayOfYear-container, .expandable-container .location-info .dayOfWeek-container, .expandable-container .location-info .weekNumber-container {
    width: 80%;
  }
}

.expandable-container .timezone-location .timezone-container p, .expandable-container .timezone-location .dayOfYear-container p, .expandable-container .timezone-location .dayOfWeek-container p, .expandable-container .timezone-location .weekNumber-container p, .expandable-container .location-info .timezone-container p, .expandable-container .location-info .dayOfYear-container p, .expandable-container .location-info .dayOfWeek-container p, .expandable-container .location-info .weekNumber-container p {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.expandable-container .timezone-location .timezone-container h4, .expandable-container .timezone-location .dayOfYear-container h4, .expandable-container .timezone-location .dayOfWeek-container h4, .expandable-container .timezone-location .weekNumber-container h4, .expandable-container .location-info .timezone-container h4, .expandable-container .location-info .dayOfYear-container h4, .expandable-container .location-info .dayOfWeek-container h4, .expandable-container .location-info .weekNumber-container h4 {
  font-weight: 700;
}

.btn-styling {
  position: relative;
  width: 146px;
  height: 56px;
  border-radius: 50px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px 0 20px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #999999;
  background-color: white;
}

.btn-styling svg {
  position: absolute;
  right: 10px;
  margin-left: 10px;
  fill: #303030;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.btn-styling:hover {
  cursor: pointer;
}

.btn-styling:hover svg {
  fill: #30303088;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0px;
}
/*# sourceMappingURL=main.css.map */