
//* Background image classes to be added based on location *

.daytime-bg{
    background-image: url("../../../style/assets/desktop/bg-image-daytime.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.nightTime-bg{
    background-image: url("./assets/desktop/bg-image-nighttime.png");
    background-repeat: no-repeat;
    background-size: cover;
}