
//* Background image classes to be added based on location *

.daytime-bg{
    background-image: url("../style/assets/desktop/bg-image-daytime.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nightTime-bg{
    background-image: url("../style/assets/desktop/bg-image-nighttime.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.expandable-cont-day{
    background-color: colorSet(dark-clr, light-grey);
    color: colorSet(dark-clr, black);

    .timezone-location{
        border-right: 1px solid black;
    }
}

.expandable-cont-night{
    background-color: colorSet(dark-clr, black);
    color: colorSet(light-clr, white);

    .timezone-location{
        border-right: 1px solid #979797;
    }
}