// Importing the calculations needed for fluid typography
@import './fontCalc'; 


// Font family import 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');


// font sizes and styles ----

// Grouped styling for headers

p, h1, h2, h3, h4, h5, h6{
	font-family: 'Inter', sans-serif;
}

h1, h3, h5, h6{
	font-weight: 700;
}

// Body styling
p{
    font-weight: 400;

	@include fluidType(font-size, 320px, 2560px, 12px, 24px); 
	@include fluidType(line-height, 320px, 2560px, 22px, 28px); 
}

// H1 styling
h1{	
	// The below code is used to access the calculations in fontCalc.scss and use the values provided to make the styling fluid

	@include fluidType(font-size, 320px, 2560px, 100px, 350px); 
	@include fluidType(line-height, 320px, 2560px, 80px, 250px); 

	// You do not always need to change the max vw as once the max width has surpassed the element will stay at that max value
	// This will allow the fluidity to only occur when the screen widths are smaller, in this case between 320px and 1440px
	@include fluidType(letter-spacing, 320px, 1440px, -2.5px, -5px); 
}

// H2 styling
h2{
	font-weight: 300;
	@include fluidType(font-size, 320px, 2560px, 15px, 37px); 
	@include fluidType(letter-spacing, 320px, 1440px, 3px, 4.8px); 
}

// H3 styling
h3{
	text-transform: uppercase; 
	line-height: 28px; 

	@include fluidType(font-size, 320px, 2560px, 15px, 24px); 
	@include fluidType(letter-spacing, 320px, 1440px, 3px, 4.8px); 
}

// H4 styling
h4{
	text-transform: uppercase;
	font-weight: 400;
	line-height: 28px; 

	@include fluidType(font-size, 320px, 2560px, 15px, 20px); 
	@include fluidType(letter-spacing, 320px, 1440px, 3px, 4.8px); 
}

// H5 styling
h5{
	@include fluidType(font-size, 320px, 2560px, 12px, 18px); 
	@include fluidType(line-height, 320px, 1440px, 22px, 28px); 
}